
.App {
  text-align: center;
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Poppins:ital,wght@0,200;0,400;1,200&display=swap');
.footer {
  font-family: 'Cormorant SC', serif; 
}

.cardLogin {
 border: 10px solid #b08008
}

.get:hover, .info:hover, .dev:hover, .sec:hover, .other:hover, .adds:hover {
   text-decoration: underline;
   cursor: 'pointer';
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
.label{
  font-family: 'Cormorant SC', serif;
}

.label2 {
  font-family: 'Cormorant SC', serif;
  margin-left: 40px;
  margin-top: 85px;
}

.watch:hover {
  background-color: violet;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
